.toolbar{
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;

    .content-container {
        width: 100%;
        max-width: 600px;
    }
}